* {
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(39, 40, 41);
}

.note-container {
  position: fixed;
  top: 40px;
  left:calc(100% - (50% + 250px));
  width: 500px;
  height: 700px;
  background-color: rgb(55, 56, 59);
}

h1 {
  height: 60px;
  background-color: rgb(46, 47, 49);
  color: white;
  padding-left: 15px;
  display: flex;
  align-items: center;
  font-size: 2.1rem;
}

#notes-counter {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left:15px;
  padding-right:15px;
  #logo {
    width: calc(max-content + 10px);
    height: 50px;
    display: flex;
    align-items: center;
  }
}

#note-logo {
  width: 30px;
  height: 30px;
  background-image: url("../assets/note.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

h3 {
  font-size: 30px;
  color: rgb(255, 115, 0);
}

#notes-number {
  font-size: 22px;
  color: gray;
}

#add-note {
  position: absolute;
  top: calc(100% - 80px);
  left: calc(100% - 80px);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: rgb(255, 115, 0);
  background-image: url("../assets/add.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
}
#add-note:hover {
  background-color: rgb(252, 136, 41);
}

#notes-list {
  display: flex;
  flex-direction: column;
  height: 580px;
}

.note {
  border-bottom: 0.5px solid rgb(31, 31, 31);
  height: 80px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.note:hover {
  background-color: rgb(70, 73, 75);
}

.left-side-note {
  width: 410px;
  height: 60px;
}


.buttons {
  width: 75px;
  height: 30px;
  display: flex;
  padding-right: 15px;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  #edit, #delete {
    width: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  };
  #edit:hover {
    background-image: url("../assets/edit.png");
  };
  #delete:hover{
    background-image: url("../assets/delete.png");
  }
}

.note-title {
  width: 200px;
  margin-bottom: 15px;
  font-size: 18px;
  color: rgb(229, 245, 255);
}
.note-content {
  color: gray;
  font-weight: 700;
}
